[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PavelGitDevOps
[access "refs/for/refs/*"]
	read = group user/PavelGitDevOps
	push = group user/PavelGitDevOps
	label-Code-Review = -2..+2 group user/PavelGitDevOps
	label-Verified = -1..+1 group user/PavelGitDevOps
	rebase = group user/PavelGitDevOps
	removeReviewer = group user/PavelGitDevOps
	submit = group user/PavelGitDevOps
[access "refs/heads/*"]
	read = group user/PavelGitDevOps
	create = group user/PavelGitDevOps
	push = +force group user/PavelGitDevOps
	pushMerge = group user/PavelGitDevOps
[access "refs/tags/*"]
	push = group user/PavelGitDevOps
	push = +force group user/PavelGitDevOps
